.navbar {
    height: 55px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1140px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.logo {
    font-weight: 700;
}

.logo>img {
    height: 40px;
    padding-top: 10px;
}

.navButton {
    margin-left: 20px;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: #003580;
    border-radius: 2px;
    background-color: #fff;;
}